{% macro display_name(name, second_name="") %}
<h1>Hello, {{ name }} {{ second_name }}</h1>
{% endmacro %}

{% macro book_card(book) %}
<div class="card container mb-3">
    <h5 class="card-header">ID: {{ book.id }}</h5>
    <div class="card-body">
        <h5 class="card-title">NAME: {{ book.name|upper }}</h5>
        <p class="card-text">PAGES: {{ book.pages }}</p>
        <p class="card-text">{{ book.description|truncate(100, True) }}</p>
        <a href="{{ url_for('student', id=student.id) }}" class="btn btn-primary">Details</a>
    </div>
</div>
{% endmacro %}